In [70]:
import pandas as pd
import numpy as np

In [71]:
cols = ['gameid', 'league', 'year', 'game',
        'patch', 'side', 'position', 'teamname',
        'champion', 'ban1', 'ban2', 'ban3', 'ban4', 'ban5', 'gamelength', 'result', 'kills', 'deaths', 
        'assists', 'teamkills','teamdeaths', 'damagetochampions',
        'wardsplaced', 'wardskilled', 'controlwardsbought',
        'totalgold', 'earnedgold', 'earned gpm', 
         'total cs', 'cspm'
        ]

In [72]:
df_2021 = pd.read_csv(
    './data/2021_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2020 = pd.read_csv(
    './data/2020_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2019 = pd.read_csv(
    './data/2019_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2018 = pd.read_csv(
    './data/2018_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2022 = pd.read_csv(
    './data/2022_LoL_esports_match_data_from_OraclesElixir.csv', usecols=cols)
df_2022.head()

,gameid,datacompleteness,league,year,game,patch,participantid,side,position,teamname,...,teamdeaths,damagetochampions,wardsplaced,wardskilled,controlwardsbought,totalgold,earnedgold,earned gpm,total cs,cspm
0,ESPORTSTMNT01_2690210,complete,LCK CL,2022,1,12.01,1,Blue,top,Fredit BRION Challengers,...,19,15768.0,8.0,6.0,5.0,10934,7164.0,250.9282,231.0,8.0911
1,ESPORTSTMNT01_2690210,complete,LCK CL,2022,1,12.01,2,Blue,jng,Fredit BRION Challengers,...,19,11765.0,6.0,18.0,6.0,9138,5368.0,188.0210,148.0,5.1839
2,ESPORTSTMNT01_2690210,complete,LCK CL,2022,1,12.01,3,Blue,mid,Fredit BRION Challengers,...,19,14258.0,19.0,7.0,7.0,9715,5945.0,208.2312,193.0,6.7601
3,ESPORTSTMNT01_2690210,complete,LCK CL,2022,1,12.01,4,Blue,bot,Fredit BRION Challengers,...,19,11106.0,12.0,6.0,4.0,10605,6835.0,239.4046,226.0,7.9159
4,ESPORTSTMNT01_2690210,complete,LCK CL,2022,1,12.01,5,Blue,sup,Fredit BRION Challengers,...,19,3663.0,29.0,14.0,11.0,6678,2908.0,101.8564,42.0,1.4711

In [73]:
df = pd.concat([df_2022, df_2021, df_2020, df_2019, df_2018])

I only want the professional series games which include:

- LCK
- LPL
- LEC
- LCS
- LJL
- PCS
- VCS
- LLA
- LAS

In [74]:
df['league'].unique()

array(['LCK CL', 'LPL', 'NLC', 'SL', 'Proving Grounds Circuit', 'UL',
       'PRM', 'LCK', 'LFL', 'LEC', 'LCS', 'LFL2', 'GLL', 'HM', 'ESLOL',
       'EBL', 'LPLOL', 'PGN', 'LCSA', 'LVP DDH', 'TAL', 'TCL', 'CBLOL',
       'LCO', 'LHE', 'GL', 'EL', 'CBLOLA', 'LMF', 'VL', 'LLA', 'HC',
       'LDL', 'LJL', 'PCS', 'VCS', 'UPL', 'LCL', 'NEXO', 'EM', 'LAS',
       'MSI', 'LJLA', 'CT', 'WCS', 'CDF', 'IC', 'DC', 'KeSPA', 'CU', 'BL',
       'RCL', 'DL', 'UKLC', 'OTBLX', 'BIG', 'BM', 'UGP', 'GSG', 'HS',
       'AOL', 'NERD', 'EGL', 'NASG', 'SLO', 'OPL', 'BRCC', 'CK', 'OCS',
       'Riot', 'MSC', 'NEST', 'LMS', 'LGL', 'EU LCS', 'LLN', 'CLS',
       'NA LCS', 'TCS', 'LJLCS', 'CIS CL', 'GPL'], dtype=object)

In [75]:
print(f'Start shape: {df.shape}')
professional_leagues = set('LCK LPL LEC LCS LJL PCS VCS LLA CBLOL'.split())
df = df[df['league'].isin(professional_leagues)].reset_index(drop=True)
print(f'End shape: {df.shape}')

Start shape: (596762, 32)
End shape: (159998, 32)

In [76]:
df.isna().sum()

gameid                   48
datacompleteness          0
league                    0
year                      0
game                     24
patch                     0
participantid             0
side                      0
position                  0
teamname                  0
champion              26668
ban1                    228
ban2                     78
ban3                    264
ban4                    228
ban5                    540
gamelength                0
result                    0
kills                     0
deaths                    0
assists                   0
teamkills                 0
teamdeaths                0
damagetochampions       216
wardsplaced             216
wardskilled             216
controlwardsbought      216
totalgold                60
earnedgold               86
earned gpm               86
total cs              25250
cspm                   5886
dtype: int64

We need to have champion in the final dataset so we'll remove any rows that dont have a champion

In [78]:
clean = df.dropna(subset=['champion', 'gameid', 'damagetochampions',
                          'wardsplaced', 'wardskilled', 'controlwardsbought',
                          'totalgold', 'earnedgold', 'earned gpm',
                          'total cs',
                          'cspm', ])
clean.head()

,gameid,datacompleteness,league,year,game,patch,participantid,side,position,teamname,...,teamdeaths,damagetochampions,wardsplaced,wardskilled,controlwardsbought,totalgold,earnedgold,earned gpm,total cs,cspm
0,8401-8401_game_1,partial,LPL,2022,1.0,12.01,1,Blue,top,Oh My God,...,6,11188.0,7.0,5.0,3.0,9123.0,6063.0,266.5055,172.0,7.5604
1,8401-8401_game_1,partial,LPL,2022,1.0,12.01,2,Blue,jng,Oh My God,...,6,4426.0,7.0,10.0,5.0,9041.0,5981.0,262.9011,145.0,6.3736
2,8401-8401_game_1,partial,LPL,2022,1.0,12.01,3,Blue,mid,Oh My God,...,6,12577.0,8.0,2.0,4.0,9928.0,6868.0,301.8901,212.0,9.3187
3,8401-8401_game_1,partial,LPL,2022,1.0,12.01,4,Blue,bot,Oh My God,...,6,9618.0,23.0,12.0,7.0,10778.0,7718.0,339.2527,199.0,8.7473
4,8401-8401_game_1,partial,LPL,2022,1.0,12.01,5,Blue,sup,Oh My God,...,6,2276.0,34.0,4.0,13.0,6598.0,3538.0,155.5165,22.0,0.9670

In [79]:
clean.isna().sum()

gameid                  0
datacompleteness        0
league                  0
year                    0
game                   20
patch                   0
participantid           0
side                    0
position                0
teamname                0
champion                0
ban1                  190
ban2                   65
ban3                  220
ban4                  190
ban5                  450
gamelength              0
result                  0
kills                   0
deaths                  0
assists                 0
teamkills               0
teamdeaths              0
damagetochampions       0
wardsplaced             0
wardskilled             0
controlwardsbought      0
totalgold               0
earnedgold              0
earned gpm              0
total cs                0
cspm                    0
dtype: int64

If banX is N/A, the team simply didn't ban for that slot and we will set it to None

In [80]:
clean.loc[:, ['ban1', 'ban2', 'ban3', 'ban4', 'ban5']
      ] = clean[['ban1', 'ban2', 'ban3', 'ban4', 'ban5']].fillna('None')
clean.loc[:, ['game']] = clean.loc[:, ['game']].fillna(0)
clean.isna().sum().sum()

0

## Now that we have no NA values, I'm going to build our tabular data
We want to be able to do the following:
- Kills per champion
- Deaths per champion
- Playrate per champion
- Gold difference for each team per year
- Win percentages for each team per year

## Build our geo-json dataset
We want to be able to do the following
- Teams that win the most in each region
- Champions that win the most in each region
- Champions that lose the most in each region

## Build our node data
We want to be able to do the following:
- champion playrate with each other
- champion win percentage with each other

In [90]:
import itertools

In [94]:
# Create a new DataFrame by grouping the original DataFrame by 'gameid' and 'side'
grouped_df = clean.groupby(['gameid', 'side'])

# Create an empty dictionary to store champion pairs and their counts
champion_pairs = {}

# Iterate over the grouped DataFrame
for group_name, group_data in grouped_df:

    # Extract the champions in the current group
    champions = group_data['champion'].unique()

    # Generate all possible combinations of champions
    combinations = list(itertools.combinations(champions, 2))

    # Increment the count for each champion pair
    for pair in combinations:
        if pair in champion_pairs:
            champion_pairs[pair] += 1
        else:
            champion_pairs[pair] = 1

# Create a new DataFrame from the champion_pairs dictionary
champion_pairs_df = pd.DataFrame(champion_pairs.items(), columns=[
                                 'champion_pair', 'count']).sort_values('count', ascending=False)

# Print the champion pairs and their counts
champion_pairs_df

              champion_pair  count
259          (Xayah, Rakan)    908
4395     (Aphelios, Thresh)    753
4426   (Aphelios, Nautilus)    560
130         (Ezreal, Braum)    485
1297      (Kai'Sa, Alistar)    484
...                     ...    ...
9153        (Kayle, Rumble)      1
4268          (Zoe, Kennen)      1
9155      (Soraka, Trundle)      1
4269    (Jarvan IV, Kennen)      1
11279        (Ezreal, Zyra)      1

[11280 rows x 2 columns]

In [102]:
clean.groupby(['champion'])['side'].count()[['Xayah', 'Rakan']].sum() - 908

3123

In [103]:
908/3123

0.29074607748959336